body {
    background: rgb(30, 30, 30);
    color: rgb(240, 240, 240);
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}

h1 {
    font-size: 48px;
}

#canvas {
    border: 50px groove rgb(139, 69, 19);
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(240, 240, 240);
    &:hover {
        text-decoration: underline;
    }
    &#code {
        font-size: 24px;
        margin-top: 24px;
    }
}
